/* Links in the drawer */
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.app-header {
    padding: 0 var(--lumo-space-m);
    width: 100%;
}

.app-header h1.app-logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

.menu-link span {
    padding-left: 5px;
}